<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS -->
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Link to Javascript -->
    <script src="/scripts/script.js" defer></script>

    <!-- Link to Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Link to my Website Icon -->
    <link rel="icon" href="/images/light-switch.webp">
    
    <!-- Title for the Website -->
    <title>Tygo Wolven | Squadpage</title>
  </head>
  <body>  

  <nav>
    <a href="#" id="menu-button">Filteren en sorteren</a>
    <div class="menu">
      <div class="system">
        <div class="filters">
          <h2>Filteren op:</h2>
          <ul>
            <li><a href="#">Naam</a></li>
            <hr>
            <li><a href="#">Achternaam</a></li>
            <hr>
            <li><a href="#">Leeftijd</a></li>
            <hr>
            <li><a href="#">Squad</a></li>
          </ul>
        </div>
        <div class="sorteringen">
          <h2>Sorteren op:</h2>
          <ul>
            <li><a href="/?sort=name">Alfabet</a></li>
            <hr>
            <li><a href="#">Leeftijd</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>