<%- include('./partials/head2') %>

<a href="/" id="terug-button">Terug</a>

<section class="student-detailed">

    <h2><%= person.name %></h2>

    <p>Squad: <%= person.squad_id %>

</section>

<div class="planet">
  <img src="/images/saturn.png" alt="Saturnus on background">
</div>
<div class="gradient"></div>
<div class="light"></div>

<%- include('./partials/foot') %>