/* === Fonts === */
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

/* === Custom Properties === */
:root {
    /* === Regular Colors === */
    --light-grey: rgb(200, 200, 200);
    --medium-grey: rgb(100, 100, 100);
    --dark-grey: rgb(15, 15, 15);
    --white: rgb(250, 250, 250);

    /* === Border Stylings === */
    --border: 1px solid; 
    --round: 500px;

    /* === Transitions === */
    --tran1: 0.5s ease;
}

/* === General Page Styling === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: Montserrat;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
}

*::-webkit-scrollbar {
    display: none;
}

/* === Body Styling === */
body {
    background: var(--light-grey);
}

/* === Filter Styling === */
.filters {
    text-transform: uppercase;

    & a {
        color: white;
    }
}

#filter-button {
    padding: 8px 16px;
    backdrop-filter: blur(12px);
    background: rgba(5, 5, 5, 0.4);
    border: var(--border) rgba(250, 250, 250, 0.2);
    box-shadow: 0 8px 32px 0 rgba(5, 5, 5, 0.3);
}

.user-filters {
    display: none;

    width: 100%;
    height: 100%;

    position: absolute;
    backdrop-filter: blur(12px);
    background: rgba(5, 5, 5, 0.4);

    text-align: center;
    align-items: center;
    justify-content: center;

    & ul li {
        margin: 1.5em;
    }

    & hr {
        border-color: rgba(5, 5, 5, 0.4);
    }
}

.showfilters {
    display: flex;
}

/* === Main Content Styling === */
h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em auto;
    text-align: center;
    text-transform: uppercase;

    font-weight: 900;
    font-size: 4em;
}